{{#section 'head'}}
	<link type="text/css" rel="stylesheet" href="/assets/css/admin-master.css"/>
	<script>
		Handlebars.registerHelper('notEmpty', function(val, options) {
			if (typeof val!=='undefined' && val!==null && val.length>0) {
				return options.fn(this);
			}
			return options.inverse(this);
		});
		Handlebars.registerHelper('equals', function(a, b, options) {
			if (a === b) {
				return options.fn(this);
			}
			return options.inverse(this);
		});

		var auditioneeTemplate;
		$.get("/assets/template/auditioneeTemplate.html", function(data) {
			auditioneeTemplate = Handlebars.compile(data);
		});

		function deleteAuditionee(firstName, lastName, id, e) {
			e.stopPropagation();
			if(confirm('Are you sure you want to delete auditionee, '+firstName+' '+lastName+'?')) {
				var form = $("<form></form>")
					.attr({method: 'post', action: '/admin/auditionees/delete', style: "display:none;"})
					.append($('<input>').attr({type: 'hidden', name: 'auditioneeId', value: id}));
				$('body').append(form);
				form.submit();
			}
		}

		function showModal(id) {
			var auditionee = auditionees.filter(function(obj) {
				return obj._id == id;
			});
			$('#auditioneeModal .modal-content').html(auditioneeTemplate(auditionee[0]));
			$('#auditioneeModal').bPopup();
		}
	</script>

{{/section}}

{{> leftRail}}

<div class="admin-body">
	<h1>Auditionees</h1>

	{{#if auditioneesMessage}}
		<div>{{auditioneesMessage}}</div>
	{{/if}}

	<table class="admin-table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Birthdate</th>
				<th>Phone</th>
				<th>Email</th>
				<th>Instrument</th>
				<th>Instrument 2</th>
				<th>Instrument 3</th>
				<th class="delete">Delete</th>
			</tr>
		</thead>
		<tbody>
			{{#each auditionees}}
				<tr onclick="showModal('{{_id}}')">
					<td>{{firstName}} {{lastName}}</td>
					<td>{{dob}}</td>
					<td>{{phone}}</td>
					<td>{{email}}</td>
					<td>{{auditionInstrument1}}</td>
					<td>{{auditionInstrument2}}</td>
					<td>{{auditionInstrument3}}</td>
					<td class="delete" onclick="deleteAuditionee('{{firstName}}', '{{lastName}}', '{{_id}}', event)"><i class="fa fa-times-circle"></td>
				</tr>
			{{/each}}
		</tbody>
	</table>
	<div id="auditioneeModal" class="modal">
		<span class="b-close"><i class="fa fa-times-circle"></i></span>

		<div class="modal-content"></div>
	</div>
	<script>var auditionees = {{{auditioneesString}}};</script>
</div>