{{#section 'head'}}
	<link type="text/css" rel="stylesheet" href="/assets/css/admin-master.css?v={{assetsVersion}}"/>
	<script src="/assets/script/adminAuditionees.js?v={{assetsVersion}}"></script>
{{/section}}

{{> leftRail}}

<div class="admin-body">
	<div class="full-width">
		<h1>Auditionees</h1>
	</div>

	{{#if successMessage}}
		<div class="success-message">
			<span>{{successMessage}}</span>
		</div>
	{{/if}}

	{{#if errorMessage}}
		<div class="error-message">
			<span>{{errorMessage}}</span>
		</div>
	{{/if}}

	<div class="full-width">
		<div class="action-container">
			<!--<div class="action-row">-->
				<!--<button class="button" onclick="openSendReminderModal();">Send Reminder Email</button>-->
				<!--<button class="button" onclick="downloadCsvExport();">Export to CSV</button>-->
			<!--</div>-->
			<div class="action-row">
				<form action="/admin/auditionees" method="post">
					<label for="season">Season</label>
					<select id="season" name="season" onchange="this.form.submit()">
						{{#each seasons}}
							{{{selectOption ../selectedSeason this}}}
						{{/each}}
					</select>
				</form>
			</div>
		</div>

		<div class="stats-container">
			<div class="stat-block"><span class="bold">Total Auditionees:</span> {{total}}</div>
			<div class="stat-block">
				<div class="stat-block-header">Instrument 1</div>
				{{#each stats.firstChoice}}
					<div>{{@key}}: {{this}}</div>
				{{/each}}
			</div>
			{{#if stats.secondChoice}}
				<div class="stat-block">
					<div class="stat-block-header">Instrument 2</div>
					{{#each stats.secondChoice}}
						<div>{{@key}}: {{this}}</div>
					{{/each}}
				</div>
			{{/if}}
			{{#if stats.thirdChoice}}
				<div class="stat-block">
					<div class="stat-block-header">Instrument 3</div>
					{{#each stats.thirdChoice}}
						<div>{{@key}}: {{this}}</div>
					{{/each}}
				</div>
			{{/if}}
		</div>
	</div>

	<div class="full-width">
		<table class="admin-table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Birthdate</th>
					<th>Phone</th>
					<th>Email</th>
					<th>Instrument 1</th>
					<th>Instrument 2</th>
					<th>Instrument 3</th>
					<th class="delete">Delete</th>
				</tr>
			</thead>
			<tbody>
				{{#each auditionees}}
					<tr onclick="showModal('{{studentId}}')">
						<td>{{firstName}} {{lastName}}</td>
						<td>{{birthDate}}</td>
						<td>{{phone}}</td>
						<td>{{email}}</td>
						<td>{{instrument1}}</td>
						<td>{{instrument2}}</td>
						<td>{{instrument3}}</td>
						<td class="delete" onclick="deleteAuditionee('{{firstName}}', '{{lastName}}', '{{studentId}}', event)"><i class="fa fa-times-circle"></i></td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>

	<div id="auditioneeModal" class="modal">
		<span class="b-close"><i class="fa fa-times-circle"></i></span>

		<div class="modal-content"></div>
	</div>

	<div id="reminderEmailModal" class="modal">
		<span class="b-close"><i class="fa fa-times-circle"></i></span>

		<div class="modal-content">
			<div class="modal-actions">
				<button id="sendReminderEmails" class="button" style="width: 100px;" onclick="sendReminderEmails()">Send</button>
				<span id="actionsMessage"></span>
			</div>
			<div class="email-template"></div>
		</div>
	</div>

	<script>
		var auditionees = {{{auditioneesString}}};
		var handlebarsHelpers = {{{handlebarsHelpers}}};
		var auditionDate = '{{{auditionDate}}}';
		var assetsVersion = '{{{assetsVersion}}}';
	</script>
</div>