{{#section 'head'}}
	<link type="text/css" rel="stylesheet" href="/css/admin-master.css"/>
{{/section}}

{{> leftRail}}

<div class="content">
	<h1>Auditionees</h1>

	<table class="admin-table">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Address 1</th>
				<th>Address 2</th>
				<th>City</th>
				<th>State</th>
				<th>Zip</th>
				<th>Phone</th>
				<th>Email</th>
				<th>Instruments</th>
				<th>Comments</th>
			</tr>
		</thead>
		<tbody>		
			{{#each auditionees}}
				<tr>
					<td>{{firstName}}</td>
					<td>{{lastName}}</td>
					<td>{{address1}}</td>
					<td>{{address2}}</td>
					<td>{{city}}</td>
					<td>{{state}}</td>
					<td>{{zip}}</td>
					<td>{{phone}}</td>
					<td>{{email}}</td>
					<td>{{instruments}}</td>
					<td>{{comments}}</td>
				</tr>
			{{/each}}
		</tbody>
	</table>		
</div>