{{#section 'head'}}
	<link type="text/css" rel="stylesheet" href="/assets/css/admin-master.css?v={{assetsVersion}}"/>
	<script>
		function deleteUser(email, id) {
			if(confirm('Are you sure you want to delete user with email, \''+email+'\'?')) {
				var form = $("<form></form>")
						.attr({method: 'post', action: '/admin/users/delete', style: "display:none;"})
						.append($('<input>').attr({type: 'hidden', name: 'userId', value: id}));
				$('body').append(form);
				form.submit();
			}
		}
	</script>
{{/section}}

{{> leftRail}}

<div class="admin-body">
	<h1>Admin Users</h1>

	{{#if usersMessage}}
		<div>{{usersMessage}}</div>
	{{/if}}

	<table class="admin-table">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			{{#each adminusers}}
				<tr>
					<td>{{firstName}}</td>
					<td>{{lastName}}</td>
					<td>{{email}}</td>
					<td><button onclick="deleteUser('{{email}}', '{{_id}}')">Delete</button></td>
				</tr>
			{{/each}}
		</tbody>
	</table>
</div>
<div class="controls">
	<button class="new-user" onclick="window.location.href='/admin/users/new';">New User</button>
</div>