<option value="">Select One</option>
{{{selectOption selectedInstrument 'Front ensemble (percussion)'}}}
{{{selectOption selectedInstrument 'Front ensemble (electronics)'}}}
{{{selectOption selectedInstrument 'Snare'}}}
{{{selectOption selectedInstrument 'Tenor'}}}
{{{selectOption selectedInstrument 'Bass'}}}
{{{selectOption selectedInstrument 'Cymbals'}}}
{{{selectOption selectedInstrument 'Electric Guitar'}}}
{{{selectOption selectedInstrument 'Drumset'}}}
{{!--    {{{selectOption selectedInstrument 'Character'}}}      --}}