<img src="https://www.pioneerindoordrums.org/assets/image/logo-white.png" style="width:200px;margin:10px 0;">
<br>
<p>{{firstName}},</p>
<p>An admin account has been created for you.</p>
<p>Please click <a href="{{host}}/register?a={{token}}&z={{userId}}">this link</a> to complete registration.</p>

<div style="margin-top: 40px;">Note that the admin section of pioneerindoordrums.org has no links to it.</div>
<div>After registration you will be directed to <a href="{{host}}/login">{{host}}/login</a>.</div>
<div>You will need to remember or bookmark the login page or <a href="{{host}}/admin">{{host}}/admin</a></div>
