<img src="https://www.lunchboxdc.me/assets/image/logo-white.png" style="width:200px;margin:10px 0;">

<div style="margin-top:20px;">
    Hi {{firstName}},
</div>
<div style="margin-top:20px;">
    Thank you for registering to audition for the 2016 season with Pioneer Indoor! We look forward to seeing you at 8:30am at Romeoville High School on November 7. Your $50 non-refundable audition fee will be due upon check-in. If you are invited to be a member of the 2016 ensemble, $20 of this will be applied to your WGI Finals fees.
</div>
<div style="margin-top:35px;">
    <span style="font-weight: bold;">Audition Materials</span>
    <div style="margin-top: 10px;"><span><a href="https://www.lunchboxdc.me/assets/auditionMaterials/BatteryPacket_20150914.pdf" target="_blank">Battery Audition Packet</a></span></div>
    <div><span><a href="https://www.lunchboxdc.me/assets/auditionMaterials/CymbalPacket_20150914.pdf" target="_blank">Cymbal Audition Packet</a></span></div>
    <div><span><a href="https://www.lunchboxdc.me/assets/auditionMaterials/" target="_blank">Front Ensemble Audition Packet</a></span></div>
</div>
<div style="margin-top:35px;">
    <span style="font-weight: bold;">Please bring with you:</span>
    <ul style="padding-left: 20px;">
        <li>
            $50 non-refundable audition fee (cash or check payable to Pioneer Indoor)
        </li>
        <li>
            Sticks/mallets
        </li>
        <li>
            Practice pad (battery auditionees)
        </li>
        <li>
            Audition music
        </li>
        <li>
            Comfortable clothing
        </li>
        <li>
            Water
        </li>
        <li>
            Your friends!
        </li>
    </ul>
</div>
<div style="margin-top:20px;">
    <div>
        <span style="font-weight: bold;">Important Audition Information:</span>
    </div>
    <div style="margin-top: 10px;">
        <div style="display:inline-block;float:left;">
            <span>When:</span>
        </div>
        <div style="margin-left: 55px;">
            <div><span>November 7, 2015</span></div>
            <div><span>8:30am-6pm</span></div>
        </div>
    </div>
    <div style="margin-top: 10px;">
        <div style="display:inline-block;float:left;">
            <span>Where:</span>
        </div>
        <div style="margin-left: 55px;">
            <div><span>Romeoville High School</span></div>
            <div><span>100 N. Independence Blvd.</span></div>
            <div><span>Romeoville, IL 60446</span></div>
            <div><a href="https://www.google.com/maps/place/Romeoville+High+School/@41.6269079,-88.0843496,15.53z/data=!4m2!3m1!1s0x880e5c2d89b4238f:0xa6f7a53870317664" target="_blank">Get Directions</a></div>
        </div>
    </div>
</div>
<div style="margin-top:20px;">
    <span style="font-weight: bold;">Audition Day Schedule - November 7</span>
    <div style="margin-top: 10px;"><span>8:30am – Audition registration begins</span></div>
    <div><span>9:30am – Auditions begins after meeting</span></div>
    <div><span>9:45am – Parent meeting with ensemble director</span></div>
    <div><span>1:00pm – Lunch will be provided</span></div>
    <div><span>2:00pm – Auditions resume until 6pm</span></div>
</div>

<div style="margin-top:20px;">
    <p>If you have any questions prior to auditions, please email <a href="mailto:pioneerindoordrums@gmail.com">pioneerindoordrums@gmail.com</a></p>
</div>

<div style="margin-top:20px;">
    <div>See you on November 7,</div>
    <div>Pioneer Indoor Staff</div>
</div>
