<img src="https://www.pioneerindoordrums.org/assets/image/logo-white.png" style="width:200px;margin:10px 0;">

<div style="margin-top:20px;">
    Hi {{firstName}},
</div>
<div style="margin-top:30px;">
    We hope you are as excited as we are to see you at the {{getYear auditionDate 1}} Pioneer Indoor auditions!
</div>
<div style="margin-top:30px;">
    According to our records, it looks like you signed up before we had everything ready to go. We wanted to make sure that you have all of the up to date information you'll need in order to be prepared for your audition. Most importantly, our audition materials for the battery (including cymbals) have been <span style="font-weight: bold;">updated</span> from last year. Be sure to check the links below to get your hands on the latest audition and warmup materials we have available. Don't forget to double check the <span style="font-weight: bold;">important audition information</span> below too. Look forward to seeing you on the 5th!
</div>
<div style="margin-top:30px;">
    <span style="font-weight: bold;">Here are a few reminders regarding auditions:</span>
    <div style="margin-top: 10px;"><span>Please plan to arrive by 8:30am at Romeoville High School on {{formatIsoDate auditionDate 'dddd, MMMM Do'}}. Your $50 non-refundable audition fee will be due upon check-in.</span></div>
</div>
<div style="margin-top:30px;">
    <span style="font-weight: bold;">Download <span style="font-weight:bold; font-style: italic; text-decoration: underline;">and print</span> your {{getYear auditionDate 1}} audition music packet:</span>
    <div style="margin-top: 10px;padding: 2px 0;"><span><a href="https://www.pioneerindoordrums.org/packets/battery" target="_blank">Battery Audition Packet</a></span></div>
    <div style="padding: 2px 0;"><span><a href="https://www.pioneerindoordrums.org/packets/cymbal" target="_blank">Cymbal Audition Packet</a></span></div>
    <div style="padding: 2px 0;"><span><a href="https://www.pioneerindoordrums.org/packets/frontEnsemble" target="_blank">Front Ensemble Audition Packet</a></span></div>
</div>
<div style="margin-top:30px;">
    <span style="font-weight: bold;">Please bring with you:</span>
    <ul style="padding-left: 20px;">
        <li>$50 non-refundable audition fee (cash or check payable to Pioneer Indoor)</li>
        <li>Sticks/mallets</li>
        <li>Practice pad (battery auditionees)</li>
        <li>Audition music</li>
        <li>Athletic/comfortable clothing for visual audition</li>
        <li>Lunch</li>
        <li>Water</li>
        <li>Your friends!</li>
    </ul>
</div>
<div style="margin-top:30px;">
    <div>
        <span style="font-weight: bold;">Important Audition Information:</span>
    </div>
    <div style="margin-top: 10px;">
        <div style="display:inline-block;float:left;">
            <span>When:</span>
        </div>
        <div style="margin-left: 55px;">
            <div><span>{{formatIsoDate auditionDate 'MMMM Do, YYYY'}}</span></div>
            <div><span>8:30am-6pm</span></div>
        </div>
    </div>
    <div style="margin-top: 10px;">
        <div style="display:inline-block;float:left;">
            <span>Where:</span>
        </div>
        <div style="margin-left: 55px;">
            <div><span>Romeoville High School</span></div>
            <div><span>100 N. Independence Blvd.</span></div>
            <div><span>Romeoville, IL 60446</span></div>
            <div><a href="https://www.google.com/maps/place/Romeoville+High+School/@41.6269079,-88.0843496,15.53z/data=!4m2!3m1!1s0x880e5c2d89b4238f:0xa6f7a53870317664" target="_blank">Get Directions</a></div>
        </div>
    </div>
</div>
<div style="margin-top:30px;">
    <span style="font-weight: bold;">Audition Day Schedule - {{formatIsoDate auditionDate 'MMMM D'}}</span>
    <div style="margin-top: 10px;"><span>8:30am – Audition registration begins</span></div>
    <div><span>9:00am – Group meeting - auditionee attendance required</span></div>
    <div><span>9:30am – Auditions begin after group meeting</span></div>
    <div><span>9:45am – Parent meeting with ensemble director - parent attendance is not mandatory but strongly encouraged.</span></div>
    <div><span>1:00pm – Lunch on your own</span></div>
    <div><span>2:00pm – Auditions resume until 6pm</span></div>
</div>

<div style="margin-top:30px;">
    <p>If you have any questions prior to auditions, please contact Adam Hill, ensemble director at <a href="mailto:pioneerindoordrums@gmail.com">pioneerindoordrums@gmail.com</a></p>
</div>

<div style="margin-top:30px;">
    <div>See you on {{formatIsoDate auditionDate 'MMMM Do'}},</div>
    <div>Pioneer Indoor Staff</div>
</div>
