<img src="https://www.lunchboxdc.me/assets/image/logo-white.jpg" style="width:200px;margin-bottom:20px;">

<div style="margin-top:20px;">
    Hi {{firstName}},
</div>
<div style="margin-top:20px;">
    Thank you for registering to audition for the 2016 season with Pioneer Indoor! We look forward to seeing you at 8:30am at Romeoville High School on November 7. Your $50 non-refundable audition fee will be due upon check-in. If you are invited to be a member of the 2016 ensemble, $20 of this will be applied to your WGI Finals fees.
</div>
<div style="margin-top:35px;">
    To download your 2016 audition music packet, please click here [INSERT LINK]
</div>
<div style="margin-top:35px;">
    <span style="font-weight: bold;">Please bring with you:</span>
    <ul style="padding-left: 20px;">
        <li>
            $50 non-refundable audition fee (cash or check payable to Pioneer Indoor)
        </li>
        <li>
            Sticks/mallets
        </li>
        <li>
            Practice pad (battery auditionees)
        </li>
        <li>
            Audition music
        </li>
        <li>
            Comfortable clothing
        </li>
        <li>
            Water
        </li>
        <li>
            Your friends!
        </li>
    </ul>
</div>
<div style="margin-top:20px;">
    <span style="font-weight: bold;">Important audition information:</span>
    <ul style="padding-left: 20px;">
        <li>
            When: November 7, 2015 from 8:30am-6pm
        </li>
        <li>
            Where: Romeoville High School - 100 N. Independence Blvd., Romeoville, IL 60446
        </li>
    </ul>
</div>
<div style="margin-top:20px;">
    <span style="font-weight: bold;">Audition Day Schedule - November 7</span>
    <ul style="padding-left: 20px;">
        <li>
            8:30am – Audition registration begins
        </li>
        <li>
            9:30am – Auditions begins after meeting
        </li>
        <li>
            9:45am – Parent meeting with ensemble director
        </li>
        <li>
            1pm - Lunch will be provided
        </li>
        <li>
            2pm - Auditions resume until 6pm
        </li>
    </ul>
</div>

<div style="margin-top:20px;">
    <p>If you have any questions prior to auditions, please email pioneerindoordrums@gmail.com.</p>
</div>

<div style="margin-top:20px;">
    <div>See you on November 7,</div>
    <div>Pioneer Indoor Staff</div>
</div>
