<!doctype html>
<html>
<head lang="en">
    <meta charset="utf-8" />
	<meta property="og:site_name" content="Pioneer Indoor Percussion Ensemble"/>
	<meta property="og:description" content="Pioneer Indoor is a two-time silver medalist WGI Independent Open indoor percussion ensemble."/>
	<meta property="og:image" content="/assets/image/logo-white.png">

	<script src="/assets/script/jquery-1.11.3.min.js"></script>
	<script src="/assets/script/jquery.mask-1.13.4.min.js"></script>
	<script src="/assets/script/parsley-2.2.0-rc1.min.js"></script>
	<script src="/assets/script/handlebars-3.0.3.min.js"></script>
	<script src="/assets/script/jquery.flexslider-2.5.0.min.js"></script>
	<script src="/assets/script/jquery.bpopup-0.11.0.min.js"></script>
	<script src="/assets/script/moment-2.10.6.min.js"></script>

	<link type="text/css" rel="stylesheet" href="/assets/css/normalize.css?v={{assetsVersion}}"/>
	<link type="text/css" rel="stylesheet" href="/assets/css/common.css?v={{assetsVersion}}"/>
	<link type="text/css" rel="stylesheet" href="/assets/css/flexslider.css?v={{assetsVersion}}"/>
	<link type="text/css" rel="stylesheet" href="/assets/css/font-awesome.min.css?v={{assetsVersion}}">

	<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194">
	<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<meta name="apple-mobile-web-app-title" content="Pioneer Indoor">
	<meta name="application-name" content="Pioneer Indoor">
	<meta name="msapplication-TileColor" content="#00a300">
	<meta name="msapplication-TileImage" content="/mstile-144x144.png">
	<meta name="theme-color" content="#ffffff">

	{{{_sections.head}}}
</head>
<body>

    {{{body}}}

</body>
</html>
