<div class="section">
	<h2>{{firstName}} {{lastName}}</h2>
	<div class="block half">
		<div class="row">
			<div class="row-block label">
				<span>Address</span>
			</div>
			<div class="row-block content">
				<div>
					<span>{{address1}}</span>
				</div>
				{{#notEmpty address2}}
					<div>
						<span>{{address2}}</span>
					</div>
				{{/notEmpty}}
				<div>
					<span>{{city}},</span>
					<span>{{state}}</span>
					<span>{{zip}}</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="row-block label">
				<span>Birthdate</span>
			</div>
			<div class="row-block content">
				<div>
					<span>{{dob}} <span class="semi-bold">({{getAge dob}})</span></span>
				</div>
			</div>
		</div>
	</div>

	<div class="block half">
		<div class="row">
			<div class="row-block label">
				<span>Phone</span>
			</div>
			<div class="row-block content">
				<div>
					<span>{{phone}}</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="row-block label">
				<span>Email</span>
			</div>
			<div class="row-block content">
				<div>
					<span>{{email}}</span>
				</div>
			</div>
		</div>
		{{#notEmpty school}}
			<div class="row">
				<div class="row-block label">
					<span>School</span>
				</div>
				<div class="row-block content">
					<div>
						<span>{{school}}</span>
					</div>
				</div>
			</div>
		{{/notEmpty}}
		{{#notEmpty schoolYear}}
			<div class="row">
				<div class="row-block label">
					<span>Year in School</span>
				</div>
				<div class="row-block content">
					<div>
						<span>{{schoolYear}}</span>
					</div>
				</div>
			</div>
		{{/notEmpty}}
	</div>
</div>

<div class="section">
	<h3>Parent/Guardian</h3>
	<div class="block half">
		<div class="row">
			<div class="row-block label">
				<span>Name</span>
			</div>
			<div class="row-block content">
				<div>
					<span>{{pg1FirstName}} {{pg1LastName}}</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="row-block label">
				<span>Address</span>
			</div>
			<div class="row-block content">
				{{#notEmpty pg1Address1}}
					<div>
						<span>{{pg1Address1}}</span>
					</div>
					{{#notEmpty pg1Address2}}
						<div>
							<span>{{pg1Address2}}</span>
						</div>
					{{/notEmpty}}
					<div>
						<span>{{pg1City}},</span>
						<span>{{pg1State}}</span>
						<span>{{pg1Zip}}</span>
					</div>
				{{else}}
					<div>
						<span>Same as auditionee</span>
					</div>
				{{/notEmpty}}
			</div>
		</div>
	</div>
	<div class="block half">
		<div class="row">
			<div class="row-block label">
				<span>Phone</span>
			</div>
			<div class="row-block content">
				<div>
					<span>{{pg1Phone1}}</span>
				</div>
			</div>
		</div>
		{{#notEmpty pg1Phone2}}
			<div class="row">
				<div class="row-block label">
					<span>Phone 2</span>
				</div>
				<div class="row-block content">
					<div>
						<span>{{pg1Phone2}}</span>
					</div>
				</div>
			</div>
		{{/notEmpty}}
		<div class="row">
			<div class="row-block label">
				<span>Email</span>
			</div>
			<div class="row-block content">
				<div>
					<span>{{pg1Email}}</span>
				</div>
			</div>
		</div>
	</div>
</div>


{{#notEmpty pg2FirstName}}
	<div class="section">
		<h3>Alternate Parent/Guardian</h3>
		<div class="block half">
			<div class="row">
				<div class="row-block label">
					<span>Name</span>
				</div>
				<div class="row-block content">
					<div>
						<span>{{pg2FirstName}} {{pg2LastName}}</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="row-block label">
					<span>Address</span>
				</div>
				<div class="row-block content">
					{{#notEmpty pg2Address1}}
						<div>
							<span>{{pg2Address1}}</span>
						</div>
						{{#notEmpty pg2Address2}}
							<div>
								<span>{{pg2Address2}}</span>
							</div>
						{{/notEmpty}}
						<div>
							<span>{{pg2City}},</span>
							<span>{{pg2State}}</span>
							<span>{{pg2Zip}}</span>
						</div>
					{{else}}
						<div>
							<span>Same as auditionee</span>
						</div>
					{{/notEmpty}}
				</div>
			</div>
		</div>
		<div class="block half">
			<div class="row">
				<div class="row-block label">
					<span>Phone</span>
				</div>
				<div class="row-block content">
					<div>
						<span>{{pg2Phone1}}</span>
					</div>
				</div>
			</div>
			{{#notEmpty pg2Phone2}}
			<div class="row">
				<div class="row-block label">
					<span>Phone 2</span>
				</div>
				<div class="row-block content">
					<div>
						<span>{{pg2Phone2}}</span>
					</div>
				</div>
			</div>
			{{/notEmpty}}
			<div class="row">
				<div class="row-block label">
					<span>Email</span>
				</div>
				<div class="row-block content">
					<div>
						<span>{{pg2Email}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
{{/notEmpty}}


<div class="section">
	<h3>Audition Information</h3>
	<div class="block">
		<div class="row">
			<div class="row-block label">
				<span>How did you hear about Pioneer Indoor?</span>
			</div>
			<div class="row-block content">
				{{#equals referral 'Other'}}
					<div>
						<span>(Other) {{referralOther}}</span>
					</div>
				{{else}}
					<div>
						<span>{{referral}}</span>
					</div>
				{{/equals}}
			</div>
		</div>
		<div class="row">
			<div class="row-block label">
				<span>Number of years drumming</span>
			</div>
			<div class="row-block content">
				<div>
					<span>{{yearsDrumming}}</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="row-block label">
				<span>Audition Instrument</span>
			</div>
			<div class="row-block content">
				<div>
					<span>{{auditionInstrument1}}</span>
				</div>
			</div>
		</div>
		{{#notEmpty auditionInstrument2}}
			<div class="row">
				<div class="row-block label">
					<span>Audition Instrument 2</span>
				</div>
				<div class="row-block content">
					<div>
						<span>{{auditionInstrument2}}</span>
					</div>
				</div>
			</div>
		{{/notEmpty}}
		{{#notEmpty auditionInstrument3}}
			<div class="row">
				<div class="row-block label">
					<span>Audition Instrument 3</span>
				</div>
				<div class="row-block content">
					<div>
						<span>{{auditionInstrument3}}</span>
					</div>
				</div>
			</div>
		{{/notEmpty}}
		{{#notEmpty experience}}
			<div class="row">
				<div class="row-block label">
					<span>DCI or WGI experience</span>
				</div>
				<div class="row-block content">
					<div>
						<span>{{experience}}</span>
					</div>
				</div>
			</div>
		{{/notEmpty}}
		{{#notEmpty specialTalents}}
			<div class="row">
				<div class="row-block label">
					<span>Special Talents</span>
				</div>
				<div class="row-block content">
					<div>
						<span>{{specialTalents}}</span>
					</div>
				</div>
			</div>
		{{/notEmpty}}
		{{#notEmpty conflicts}}
			<div class="row">
				<div class="row-block label">
					<span>Conflicts</span>
				</div>
				<div class="row-block content">
					<div>
						<span>{{conflicts}}</span>
					</div>
				</div>
			</div>
		{{/notEmpty}}
		<div class="row">
			<div class="row-block label">
				<span>Goal</span>
			</div>
			<div class="row-block content">
				<div>
					<span>{{goal}}</span>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section footer">
	<div class="block">
		<div class="row">
			<div class="row-block label">
				<span>Submitted:</span>
			</div>
			<div class="row-block content">
				<div>
					<span>{{formatDate submitDate}}</span>
				</div>
			</div>
		</div>
	</div>
</div>