html {
	height: 100%;
}
body {
	background-color: #E8E8E8;
	height: 100%;
	margin: 0px;
}

input,
select,
textarea {
	background-color: #ffffff;
	display: block;
	height: 40px;
	font-size: 16px;
	padding: 0 13px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	box-sizing: border-box;
	-webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.15);
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.15);
}

input:focus,
textarea:focus,
select:focus {
	box-shadow: 0 0 6px #008000 !important;
	border: 1px solid #65BD65 !important;
}

input.parsley-error:focus,
textarea.parsley-error:focus,
select.parsley-error:focus {
	box-shadow: 0 0 6px #ff6666 !important;
	border: 1px solid #ff6666 !important;
}

.bold {
	font-weight: bold;
}
.semi-bold {
	font-weight: 400;
}
.error-message {
	border: 1px solid #ff4747;
	border-radius: 4px;
	padding: 5px;
	background-color: #ffdfdf;
}
.error-message span {
	color: #940000;
}
.success-message {
	border: 1px solid #009400;
	border-radius: 4px;
	padding: 5px;
	background-color: #dcffd8;
}
.success-message span {
	color: #083A08;
}
.auth-container {
	margin-left: auto;
	margin-right: auto;
	width: 340px;
	padding: 15px;
}
.auth-container h2 {
	text-align: center;
}
.auth-container .button {
	width: 100%;
}
.auth-container .error-message {
	margin-bottom: 10px;
}
.login-logo {
	display: block;
	margin: 20px auto;
	width: 250px;
}
.credentials {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	font-size: 16px;
	padding: 10px;
	box-sizing: border-box;
}
.email {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border: 1px solid #cccccc;
}
.pass {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	margin-bottom: 10px;
	border: 1px solid #cccccc;
}
.button {
	border-radius: 6px;
	border: 0;
	background-color: #008000;
	color: #ffffff;
	font-size: 18px;
	padding: 10px;
	cursor: pointer;
}
.forgot-password {
	margin: 10px;
	text-align: center;
}
.forgot-password a {
	font-size: 20px;
	font-weight: 400;
}
.logo {
	margin: 20px;
}
.left-rail {
	width: 250px;
	height: 100%;
	background-color: #ffffff;
	float: left;
}
.left-rail ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.left-rail li {
	padding: 10px 20px;
}
.left-rail li:hover {
	background-color: #008000;
	color: #ffffff;
	cursor: pointer;
}
.left-rail ul.secondary-group {
	border-top: 1px solid #D3D3D3;
	margin-top: 20px;
}
.admin-body {
	margin-left: 250px;
	padding: 30px;
}
.admin-body h1 {
	margin: 0;
}
.admin-table {
	width: 100%;
}
.admin-table th {
	text-align: left;
	border-bottom: 2px solid #999999;
}
.admin-table th,
.admin-table td {
	padding: 5px;
}
.admin-table .delete {
	text-align: center;
}
.admin-table td.delete {
	padding: 0;
}
.admin-table td.delete:hover {
	background-color: #ff3b3b;
}
.admin-table td.delete span {
	display: inline-block;
}
.admin-table td.delete i {
	font-size: 25px;
}
.admin-table tbody tr {
	cursor: pointer;
}
.admin-table tbody tr:hover {
	background-color: #008000;
	color: #ffffff;
}
.admin-table tbody td {
	color: inherit;
}
.modal-content h3 {
	font-weight: bold;
	font-size: 16px;
}

.modal-content .section {
	padding-bottom: 10px;
	display: inline-block;
	width: 100%;
}

.modal-content .block {
	display: inline-block;
	width: 100%;
	float: left;
}

.modal-content .block.half {
	width: 50%;
}

.modal-content .block .row {
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
}

.modal-content .block .row .row-block {
	display: inline-block;
}

.modal-content .block .row .row-block.content {
	display: block;
	margin-left: 300px;
}

.modal-content .block .row .row-block.content span {
	white-space: pre-wrap;
}

.modal-content .block .row .row-block.label {
	float: left;
	width: 300px;
}

.modal-content .half .row .row-block.label {
	width: 120px;
}

.modal-content .half .row .row-block.content {
	display: block;
	margin-left: 120px;
}

.modal-content .block .row .row-block.label span {
	font-weight: 400;
}

.modal-content .footer {
	margin-top: 30px;
}

.modal-content .footer .block .row .row-block.label {
	float: left;
	width: 85px;
}

.modal-content .footer .block .row .row-block.content {
	display: block;
	margin-left: auto;
}
.input-row {
	margin-bottom: 10px;
	position: relative;
}
.input-row label {
	font-size: 14px;
}
.input-row input {
	background-color: #ffffff;
	display: block;
	width: 100%;
	height: 40px;
	font-size: 16px;
	padding: 0 13px;
	border: 2px solid #ffffff;
	border-radius: 4px;
	box-sizing: border-box;
	-webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.15);
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.15);
}

.input-row.button-row {
	margin-top: 20px;
}

.parsley-errors-list {
	position: absolute;
	right: 0px;
	font-size: 14px;
	padding: 0;
	margin: 0;
}

.parsley-errors-list li:first-child {
   	display: inline;
	font-weight: 400;
	font-style: italic;
	color: #ff6666;
}​

.parsley-errors-list li {
	display: none;
}

.checkbox-error .parsley-errors-list {
	right: auto;
	top: 0;
}

.register .input-row .parsley-error {
	border: 2px solid #ff6666;
}

.full-width {
	margin: 15px 0;
	display: inline-block;
	width: 100%;
}

.action-container {
	display: inline-block;
	float: left;
}

.action-row:not(:last-child) {
	margin-bottom: 20px;
}

.action-row button,
.action-row select {
	width: 200px;
	margin-right: 20px;
}

.modal-actions {
	text-align: center;
	margin: 15px;
}

.email-template {
	border: 1px solid #cacaca;
	padding: 15px;
}

.stats-container {
	display: inline-block;
	float: right;
	margin-right: 20px;
}

.stats-container .stat-block {
	display: inline-block;
	float: left;
	margin-left: 35px;
}

.stats-container .stat-block .stat-block-header {
	font-weight: bold;
	margin-bottom: 10px;
}

.new-user-container {
	width: 300px;
}