body {
	background-color: #151B19;
}

header {
	display: inline-block;
	margin-top: 15px;
}

.logo {
	display: inline-block;
	width: 300px;
}

.site-container {
	margin-right:auto;
	margin-left:auto;
	width:1050px;
}

.site-nav {
	float: right;
	line-height: 69px;
}

.site-nav li {
	display:inline;
	color: #ffffff;
	padding:10px 20px;
	font-weight: bold;
	letter-spacing: .04em;
}

.slider {
	margin-top: 15px;
}

.slider img {
	width: 100%;
}

.site-container section {
	display: inline-block;
}

.site-container section.main-content {
	width: 65%;
}


.site-container section.right-rail {
	width: 32%;
	float: right;
}

.content-block {
	margin-top: 15px;
	padding: 15px;
	background-color: #ffffff;
}

.audition-form input, select, textarea {
	display: block;
	width: 100%;
	height: 34px;
	font-size: 16px;
	padding: 0 8px;
	border: 0;
	border-radius: 4px;
	margin: 10px 0;
}

.audition-form textarea {
	padding: 6px 8px;
}

.audition-form button {
	border-radius: 6px;
	border: 0;
	background-color: #008000;
	color: #ffffff;
	font-size: 18px;
	padding: 12px;
	width: 322px;
	cursor: pointer;
}

.basic-info {
	width: 300px;
	display: inline-block;
}