@font-face {
	font-family: SourceSansPro;
	src: url('../font/source-sans-pro/SourceSansPro-Regular.otf');
}

@font-face {
	font-family: SourceSansPro;
	src: url('../font/source-sans-pro/SourceSansPro-Bold.otf');
	font-weight: bold;
}

body {
	background-color: #151B19;
	font-family: SourceSansPro, sans-serif;
}

header {
	margin: 20px 0;
}

.logo {
	height: 70px;
}

.logo-link {
	display: inline-block;
}

.site-container {
	margin-right:auto;
	margin-left:auto;
	width:1150px;
}

.site-nav {	
	float: right;
	line-height: 46px;
}

.site-nav li {
	display:inline;
	color: #ffffff;
	padding:10px 20px;
	font-weight: bold;
	letter-spacing: .04em;
}

.slider img {
	width: 100%;
}