input:focus, textarea:focus, select:focus {
  	box-shadow: 0 0 6px #008000 !important;
}

input[type="checkbox"] {
    display: none !important;
}

input[type="checkbox"] + label {
	cursor: pointer;
}
input[type="checkbox"] + label:before {
    content: '\00a0';
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 16px;
    font-family: 'Arial Unicode MS';
    background-color: white;
    margin-right: 5px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    color: #008000;
    text-align: center;
    cursor: pointer;
    float: left;
    box-shadow: 1px 1px 1px 0px rgba(148, 148, 148, 0.15);
}

input[type="checkbox"]:checked + label:before {
    content: '\2714';
}

body {
	background-color: #151B19;
}

header {
	display: inline-block;
	margin-top: 15px;
	width: 100%;
}

.hidden {
	display: none !important;
}

a.blue-link {
	color: blue;
}

.bold {
	font-weight: bold;
}

.center {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.logo {
	display: inline-block;
	width: 300px;
}

.site-container {
	margin-right:auto;
	margin-left:auto;
	width:1050px;
}

.site-nav {
	float: right;
	line-height: 69px;
}

.site-nav li {
	display:inline;
	color: #ffffff;
	padding: 5px;
	margin: 15px;
	font-weight: bold;
	letter-spacing: .04em;
}

.site-nav li:hover,
.site-nav li.current-page {
	cursor: pointer;
	border-bottom: 2px solid #008000;
}

.slider {
	margin: 15px 0 0 0;
	display: inline-block;
	width: 100%;
	border: none;
	border-bottom: 3px solid #008000;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.slider img {
	width: 100%;
}

ul.slides li {
	height: 420px;
	overflow: hidden;
}

.site-container section {
	display: inline-block;
}

.site-container section.main-content {
	width: 65%;
}

.site-container section.right-rail {
	width: 32%;
	float: right;
}

.tile {
	margin-top: 15px;
	padding: 10px;
	padding-bottom: 15px;
	background-color: rgb(245, 245, 245);
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
	position: relative;
}
.tile ul {
	margin: 0;
}

.tile.blog-post {
	padding: 30px;
}

.blog-meta {
	text-transform: uppercase;
	font-weight: 400;
}

.blog-meta span {
	color: #888888;
	font-size: 13px;
	letter-spacing: .8px;
}

.tile h4 {
	font-weight: 400;
}

.tile p {
	line-height: 24px;
	font-weight: 400;
}

.tile .block {
	margin: 25px;
}

.tile .block .title {
	margin-bottom: 5px;
}

.header {
	padding: 0 10px;
}

.input-row {
	position: relative;
	width: 100%;
	display: inline-block;
	padding: 5px;
	box-sizing: border-box;
}

.input-row .required-indicator {
	color: #E00000;
	font-size: 20px;
	position: absolute;
	margin-left: 2px;
}

.pg-button {
	position: absolute;
	right: 20px;
	top: 30px;
}

.pg-button i {
	font-size: 28px;
	float: left;
	padding-left: 3px;
	cursor: pointer
}

.pg-button span {
	font-size: 18px;
	font-weight: bold;
	float: left;
	padding-top: 3px;
	padding-left: 5px;
	cursor: pointer;
}

.add-pg i {
	color: #008000;
}

.remove-pg i {
	color: red;
}

.input-row.hidden {
	display: none;
}

.input-row label {
	font-size: 14px;
	margin-left: 1px;
}

.input-row.small {
	width: 33%;
}

.input-row.medium {
	width: 50%;
}

.input-row.large {
	width: 66%;
}

.input-row label.wrap {
	width: 350px;
	display: inline-block;
}

.audition-form .column {
	float: left;
	padding: 5px 10px;
	box-sizing: border-box;
}

.audition-form .column.medium {
	width: 50%;
}

.audition-form input,
.audition-form select,
.audition-form textarea {
	background-color: #ffffff;
	display: block;
	width: 100%;
	height: 40px;
	font-size: 16px;
	padding: 0 13px;
	border: 2px solid #ffffff;
	border-radius: 4px;
	box-sizing: border-box;
}

.audition-form textarea {
	padding: 6px 8px;
	height: 180px;
}

.audition-form .button {
	border-radius: 6px;
	border: 0;
	background-color: #008000;
	color: #ffffff;
	font-size: 18px;
	padding: 6px;
	width: 280px;
	cursor: pointer;
}

.audition-form .button:disabled {
	background-color: #2CB32C;
	border: 4px solid #008000;
	line-height: 1px;
}

.audition-form input,
.audition-form select,
.audition-form textarea {
	-webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.15);
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.15);
}

.audition-form section {
	padding: 0 5px;
	box-sizing: border-box;
}

section.two-column {
	width: 50%;
	float: left;
}

.add-button {
	cursor: pointer;
}

.add-button i {
	color: #008000;
}

.add-button span {
	margin-left: 5px;
}

.remove-button {
	cursor: pointer;
}

.remove-button i {
	color: red;
}

.important-info {
	margin-left: 12px;
	margin-bottom: 5px;
}

.important-info .label {
	display: inline-block;
	float: left;
	width: 55px;
}

.important-info .content {
	display: block;
	margin-left: 55px;
}

.checkbox-label.agreement {
	font-size: 16px;
	font-weight: 400;
}

.checkbox-label.agreement:before {
	margin-right: 10px;
}
.submit-row {
	margin-top: 25px;
}

.fb-post .fb-video {
	position: relative;
	background-color: #000000;
}

.fb-post .fb-video img {
	width: 100%;
	height: 170px;
	object-fit: none;
	object-position: center;
	opacity: .9;
	display: block;
}

.fb-post .fb-video i {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 52px;
	height: 58px;
	font-size: 60px;
	color: white;
}

.fb-post .fb-image img {
	width: 100%;
}

.fb-post .fb-link {
	background-color: white;
	-webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.15);
	box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.15);
	padding: 10px;
}

.fb-post .fb-header {
	display: inline-block;
}

.fb-post .fb-header img {
	float: left;
}

.fb-post .fb-header div {
	display: inline-block;
	width: 180px;
	padding: 6px 0 0 8px;
}

.fb-post .fb-header a {
	font-weight: bold;
	color: #000000;
}

.parsley-errors-list {
	position: absolute;
	right: 10px;
	font-size: 14px;
	padding: 0;
}

.parsley-errors-list li:first-child{
   	display: inline;
	font-weight: 400;
	font-style: italic;
	color: #ff6666;
}​

.parsley-errors-list li {
	display: none;
}
.checkbox-error .parsley-errors-list {
	left: 36px;
	margin-top: 5px;
}

.audition-form .input-row .parsley-error {
	border: 2px solid #ff6666;
}

.construction h1 {
	text-align: center;
}

.construction img {
	width: 250px;
	display: block;
	margin: auto;
}