@font-face {
	font-family: SourceSansPro;
	src: url('/assets/font/source-sans-pro/SourceSansPro-Regular.otf');
}

@font-face {
	font-family: SourceSansPro;
	src: url('/assets/font/source-sans-pro/SourceSansPro-Bold.otf');
	font-weight: bold;
}

@font-face {
	font-family: SourceSansPro;
	src: url('/assets/font/source-sans-pro/SourceSansPro-Light.otf');
	font-weight: 300;
}

* {
	color: #282828;
	font-family: SourceSansPro, sans-serif;
	font-weight: 300;
}

*:focus {
	outline: none;
}

a {
	text-decoration: none;
}

h1, h2 {
	font-weight: 600;
}

::-webkit-input-placeholder {
	color: #d3d3d3;
	font-weight: 300;
}
:-moz-placeholder {
	color: #d3d3d3;
	font-weight: 300;
}
::-moz-placeholder {
	color: #d3d3d3;
	font-weight: 300;
}
:-ms-input-placeholder {
	color: #d3d3d3;
	font-weight: 300;
}