{{#each facebookPosts}}
    <div class="content-block fb-post">
    	<div class="fb-header">
    		<a href="https://www.facebook.com/PioneerIndoor" target="_blank"><img src="/assets/image/fbPicture.jpg"></a>
    		<div>
    			<a href="https://www.facebook.com/PioneerIndoor" target="_blank">{{fromName}}</a>
    		</div>
    	</div>
        {{#equals type 'photo'}}
			<p>{{message}}</p>
			<div class="fb-image"><img src="{{attachmentImage}}"></div>
		{{/equals}}
		{{#equals type 'link'}}
			<a href="{{message}}">{{message}}</a>
			<div class="fb-link">
				<span>{{name}}</span>
				<span>{{description}}</span>
				<span class="domain">{{caption}}</span>
			</div>
		{{/equals}}
    </div>
{{/each}}