{{#each facebookPosts}}
    <div class="tile fb-post">
    	<div class="fb-header">
    		<a href="https://www.facebook.com/PioneerIndoor" target="_blank"><img src="/assets/image/fbPicture.jpg"></a>
    		<div>
    			<a href="https://www.facebook.com/PioneerIndoor" target="_blank">
					{{fromName}}
    			</a>
    		</div>
    	</div>
        {{#equals type 'photo'}}
			<p>{{message}}</p>
			<div class="fb-image"><img src="{{attachmentImage}}"></div>
		{{/equals}}
		{{#equals type 'link'}}
			<p><a href="{{message}}">{{message}}</a></p>
			<div class="fb-link">
				<span>{{name}}</span>
				<span>{{description}}</span>
				<span class="domain">{{caption}}</span>
			</div>
		{{/equals}}
		{{#equals type 'video'}}
			<p>{{message}}</p>
			<a href="{{link}}" target="_blank"><div class="fb-video"><img src="{{attachmentImage}}"><i class="fa fa-play-circle video-play"></i></div></a>
		{{/equals}}
		<div class="fb-footer"><i class="fa fa-facebook-official"></i><span class="post-time">{{facebookDate created_time}}</span></div>
    </div>
{{/each}}