<footer class="site-center">
    <div class="center">
        <div class="logo-container">
            <a class="logo" href="/">
                <img width="150" height="45" src="/assets/image/logo-footer.svg">
            </a>
        </div>
        <div class="social-links">
            <a href="https://www.facebook.com/PioneerIndoor" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/pioneer_indoor" target="_blank"><i class="fa fa-twitter"></i></a>
        </div>
    </div>
</footer>