<header class="site-center">
    <a class="logo" href="/">
      <img width="300" height="90" alt="pioneerindoordrums.org" src="/assets/image/logo-white.svg" >
    </a>
    <nav class="site-nav">
    	<ul>
            <li {{#equals page 'audition'}} class="current-page"{{/equals}}><a href="/audition">AUDITION</a></li>
    		<!--<li {{#equals page 'schedule'}} class="current-page"{{/equals}}><a href="/schedule">SCHEDULE</a></li>-->
            <li {{#equals page 'faq'}} class="current-page"{{/equals}}><a href="/faq">FAQ</a></li>
    		<li {{#equals page 'staff'}} class="current-page"{{/equals}}><a href="/staff">STAFF</a></li>
            <li {{#equals page 'media'}} class="current-page"{{/equals}}><a href="/media">MEDIA</a></li>
            <li {{#equals page 'about'}} class="current-page"{{/equals}}><a href="/about">ABOUT</a></li>
            <li {{#equals page 'support'}} class="current-page"{{/equals}}><a href="/support">SUPPORT</a></li>
    	</ul>
    </nav>
</header>