<header class="site-center">
    <a class="logo" href="/">
      <img width="300" height="90" alt="pioneerindoordrums.org" src="/assets/image/logo-white.svg" >
    </a>
    <nav class="site-nav">
    	<ul>
            <li class="audition-link {{#equals page 'audition'}}current-page{{/equals}}"><a href="/audition">AUDITION</a></li>
    		<li class="schedule-link {{#equals page 'schedule'}}current-page{{/equals}}"><a href="/schedule">SCHEDULE</a></li>
            <li class="faq-link {{#equals page 'faq'}}current-page{{/equals}}"><a href="/faq">FAQ</a></li>
    		<li class="staff-link {{#equals page 'staff'}}current-page{{/equals}}"><a href="/staff">STAFF</a></li>
            <!--<li class="media-link {{#equals page 'media'}}current-page{{/equals}}"><a href="/about">MEDIA</a></li>-->
            <li class="about-link {{#equals page 'about'}}current-page{{/equals}}"><a href="/about">ABOUT</a></li>
            <li class="support-link {{#equals page 'support'}}current-page{{/equals}}"><a href="/support">SUPPORT</a></li>
    	</ul>
    </nav>
</header>