<header>
    <a class="logo" href="/">
      <img src="/assets/image/logo-white.svg">
    </a>
    <nav class="site-nav">
    	<ul>
    		<li {{#equals page 'audition'}} class="current-page"{{/equals}} onclick="window.location.href='/audition';">AUDITION</li>
    		<li {{#equals page 'schedule'}} class="current-page"{{/equals}} onclick="window.location.href='/schedule';">SCHEDULE</li>
    		<li {{#equals page 'staff'}} class="current-page"{{/equals}} onclick="window.location.href='/staff';">STAFF</li>
            <li {{#equals page 'media'}} class="current-page"{{/equals}} onclick="window.location.href='/media';">MEDIA</li>
            <li {{#equals page 'about'}} class="current-page"{{/equals}} onclick="window.location.href='/about';">ABOUT</li>
    	</ul>
    </nav>
</header>