{{#section 'head'}}
  <link type="text/css" rel="stylesheet" href="/assets/css/master.css?v={{assetsVersion}}"/>
{{/section}}

<div class="site-container">
  {{> nav}}

  <div class="tile">
    <article>
      <h1>About Us</h1>
      <p>Pioneer Indoor was founded in 2006 with a mission to bring competitive, independent indoor percussion to the Southwest suburbs of Chicago. Two world championships, six finals appearances, two silver medals, and hundreds of educational success stories later, “Pio Indoor” looks to continue to educate and inspire its students while providing them with the best competitive experience possible. This non-profit youth organization consists of 35-40 performing members between the ages of 14 and 22. Pioneer Indoor competes nationally under the governance of Winter Guard International <a href="http://www.wgi.org" target="_blank">www.wgi.org</a> and locally under the Midwest Percussion Cooperative <a href="http://www.midwestpc.org" target="_blank">www.midwestpc.org</a>.</p>
    </article>
    <article>
      <h1>Contact</h1>
      <p>For inquiries, please contact Adam D. Hill, director, at <a href="mailto:pioneerindoordrums@gmail.com">pioneerindoordrums@gmail.com</a>.</p>
    </article>
  </div>
</div>