{{#section 'head'}}
  <meta property="og:title" content="Pioneer Indoor | Register to audition"/>
  <title>Pioneer Indoor | Register to audition</title>
  <link type="text/css" rel="stylesheet" href="/assets/css/master.css?v={{assetsVersion}}"/>
{{/section}}

{{> nav}}

<div class="site-body site-center">

  <div class="tile">
    <div class="header">
      {{#if auditionMessage}}
        <div class="error">{{{auditionMessage}}}</div>
      {{/if}}
      <h2>{{getYear auditionDate 0}} - {{getYear auditionDate 1}} Pioneer Indoor Audition Registration</h2>
      <h4>Coming Soon!</h4>
      <h4>Auditions for the Pioneer Indoor {{getYear auditionDate 1}} season will be on <span class="bold">{{formatIsoDate auditionDate 'dddd, MMMM Do, YYYY'}}</span>.</h4>
    </div>
  </div>
</div>

{{> footer}}