{{#section 'head'}}
  <meta property="og:title" content="Pioneer Indoor | Thank you for registering"/>
  <title>Pioneer Indoor | Thank you for registering</title>
  <link type="text/css" rel="stylesheet" href="/assets/css/master.css?v={{assetsVersion}}"/>
{{/section}}

<div class="site-container">
  {{> nav}}

  <div class="tile">
    <div class="block">
      <h2>Thank you for registering to audition for the 2016 season with Pioneer Indoor!</h2>
      <p>We look forward to seeing you at <span class="bold">8:30am at Romeoville High School on November 7.</span></p>
    </div>


    <div class="block">
      <div class="title">
        <span class="bold">Audition Materials:</span>
      </div>
      <div class="content">
        <div><span><a href="/assets/auditionMaterials/BatteryPacket_20150914.pdf" target="_blank">Battery Audition Packet</a></span></div>
        <div><span><a href="/assets/auditionMaterials/CymbalPacket_20150914.pdf" target="_blank">Cymbal Audition Packet</a></span></div>
        <div><span><a href="/assets/auditionMaterials/FrontEnsemble_20150916.pdf" target="_blank">Front Ensemble Audition Packet</a></span></div>
      </div>
    </div>

    <div class="block">
      <div class="title">
      	<span class="bold">Please bring with you:</span>
      </div>
      <ul>
      	<li>$50 non-refundable audition fee ($20 of this will be applied to WGI Finals fees for 2016 contracted members)</li>
      	<li>Sticks/mallets</li>
      	<li>Practice pad (battery auditionees)</li>
      	<li>Audition music</li>
      	<li>Comfortable clothing</li>
      	<li>Water</li>
      	<li>Your friends!</li>
      </ul>
    </div>

    <div class="block">
      <div class="title">
        <span class="bold">Important Audition Information:</span>
      </div>
      <div class="important-info">
        <div class="label">
          <span>When:</span>
        </div>
        <div class="content">
          <div><span>November 7, 2015</span></div>
          <div><span>8:30am-6pm</span></div>
        </div>
      </div>
      <div class="important-info">
        <div class="label">
          <span>Where:</span>
        </div>
        <div class="content">
          <div><span>Romeoville High School</span></div>
          <div><span>100 N. Independence Blvd.</span></div>
          <div><span>Romeoville, IL 60446</span></div>
          <div><a href="https://www.google.com/maps/place/Romeoville+High+School/@41.6269079,-88.0843496,15.53z/data=!4m2!3m1!1s0x880e5c2d89b4238f:0xa6f7a53870317664" target="_blank">Get Directions</a></div>
        </div>
      </div>
    </div>


    <div class="block">
      <div class="title">
        <span class="bold">Audition Day Schedule - November 7</span>
      </div>
      <div class="important-info">
        <div>8:30am – Audition registration begins</div>
        <div>9:30am – Auditions begin after group meeting</div>
        <div>9:45am – Parent meeting with ensemble director</div>
        <div>1:00pm – Lunch will be provided</div>
        <div>2:00pm – Auditions resume until 6pm</div>
      </div>
    </div>

    <div class="block">
      <div class="title">
        <span class="bold">Questions?&nbsp;</span><span>Please email <a class="blue-link" href="mailto:pioneerindoordrums@gmail.com">pioneerindoordrums@gmail.com</a></span>
      </div>
    </div>
  </div>

  {{> footer}}
</div>