{{#section 'head'}}
  <meta property="og:title" content="Pioneer Indoor | Under construction"/>
  <title>Pioneer Indoor | Under construction</title>
  <link type="text/css" rel="stylesheet" href="/assets/css/master.css?v={{assetsVersion}}"/>
{{/section}}

{{> nav}}

<div class="site-body site-center">

  <div class="tile construction">
  	<div class="pane">
    	<h1>Pardon our dust</h1>
    	<p>We still have a few things to finish up on our new site.</p>
    	<p>Please stop back soon!</p>
    </div>
    <div class="pane">
    	<img src="/assets/image/work.svg"/>
    </div>
  </div>
</div>

{{> footer}}