{{#section 'head'}}
<meta property="og:title" content="Pioneer Indoor | FAQs"/>
<title>Pioneer Indoor | FAQs</title>
<link type="text/css" rel="stylesheet" href="/assets/css/master.css?v={{assetsVersion}}"/>
{{/section}}

{{> nav}}

<div class="site-body site-center">

    <div class="tile">
        <article>
            <h2>Frequently Asked Questions</h2>

            <h3>So. What am I looking at?</h3>
            <p>Great question. Indoor drumline is a competitive winter-based pageantry art centered around rudimental marching percussion. Stemming from competitive marching band, as well as drum and bugle corps, the indoor drumline activity encompasses scholastic and independent circuits under one umbrella organization called Winter Guard International - or WGI. Pioneer Indoor operates as an independent group, competing in the Percussion Independent Open class. Most students of independent organizations range in age from 14 to 22, at which point you “age-out” of the activity. Each ensemble prepares a floor show lasting under ten minutes, and spends their season rehearsing and perfecting their program until meeting in Dayton, Ohio for the Winter Guard International Championships.</p>

            <h3>What will I get out of doing this?</h3>
            <p>Students that commit to an experience with Pioneer Indoor are promised a top-caliber education in the realm of marching percussion. Beyond receiving instruction from a cohesive staff with decades of combined drumline experience, students will develop excellent habits - not only in the artistic realm of musicality and performance, but also the disciplines of personal accountability, time management, rehearsal etiquette, and teamwork. In the end, the most valuable aspects to gain are the lasting friendships and memories earned through a season of enduring togetherness and perseverance.</p>

            <h3>How much will it cost to perform a season with Pioneer Indoor?</h3>
            <p>As we understand students and families are met with varying financial situations, tuition for the season is payable in one of four payment plans. They are available in the <a href="#tuition"><span class="semi-bold">tuition</span></a> section of this page.</p>

            <h3>How often do members rehearse? What is the rehearsal site?</h3>
            <p>Rehearsals are held every Friday night from 7-10pm, as well as Saturday from 9am-10pm at Romeoville High School in Romeoville, Illinois. See the <a href="/schedule"><span class="semi-bold">schedule</span></a> for additional performance opportunities.</p>

            <h3>How long does the season last?</h3>
            <p>Auditions are held on November 7th, and the season culminates on April 14-16, 2016 with WGI Championships in Dayton, Ohio. Rehearsal will take place every Friday and Saturday therein. It is mandatory for all members to be present at Romeoville High School the evening of Wednesday April 13, 2016 to travel to the organization’s housing site together. School conflicts must be cleared in advance to ensure members’ attendance at Championships weekend.</p>

            <h3>How will members travel to rehearsal and competition venues?</h3>
            <p>All members are expected to provide their own means of transportation for weekly rehearsals at Romeoville High School; many members choose to carpool with other students from their area. For competitions out of state (such as in Minneapolis, MN and Dayton, OH), transportation will be provided. For nearby performances (such as in Batavia, IL), members will be asked to carpool to the venue.</p>

            <h3>How can parents of performing members help Pioneer Indoor over the course of the season?</h3>
            <p>Parents are highly encouraged to volunteer time to assist the ensemble in various facets. While no assistance is formally required, the organization typically asks for help from parents with driving equipment trucks to venues, sewing uniforms, organizing potluck dinners, and varying other logistically-oriented positions. If parents have any special skills (such as building props or designing equipment improvements) and are willing to lend their abilities, notify director Adam Hill of your specialties.</p>

            <h3>Who supervises the members at rehearsal and performances?</h3>
            <p>The administrative and instructional staff at Pioneer Indoor oversees the security and well-being of the students at all times, and assumes this position with utmost seriousness. Director Adam Hill works as a full-time band director at Romeoville High School, where the ensemble rehearses, and has access to full facilities to ensure a safe learning experience for Pioneer Indoor’s member base.</p>

        </article>
    </div>

    <div id="tuition" class="tile">
        <article>
            <h2>2015 – 2016 Tuition Payment Plans</h2>
            <p>To offer our members flexibility, Pioneer Indoor is pleased to offer the following payment plan options.</p>
        </article>

        <article>
            <h3>Pay in Full (PIF)</h3>
            <div><span>December 5, 2015 - $1,150</span></div>
        </article>

        <article>
            <h3>Plan A</h3>
            <div><span>December 5, 2015 - $500</span></div>
            <div><span>January 2, 2016 - $400</span></div>
            <div><span>February 6, 2016 - $300</span></div>
            <p>Plan A Total Member Tuition - $1,200</p>
        </article>

        <article>
            <h3>Plan B</h3>
            <div><span>December 5, 2015 - $500</span></div>
            <div><span>January 2, 2016 - $275</span></div>
            <div><span>February 6, 2016 - $275</span></div>
            <div><span>March 5, 2016 - $275</span></div>
            <p>Plan B Total Member Tuition - $1,325</p>
        </article>

        <article>
            <h3>Plan C</h3>
            <div><span>December 5, 2015 - $500</span></div>
            <div><span>January 2, 2016 - $250</span></div>
            <div><span>February 6, 2016 - $250</span></div>
            <div><span>March 5, 2016 - $225</span></div>
            <div><span>April 2, 2016 - $225</span></div>
            <p>Plan C Total Member Tuition - $1,450</p>
        </article>
    </div>
</div>

{{> footer}}