{{#section 'head'}}
<meta property="og:title" content="Pioneer Indoor | Forgot Password"/>
<title>Pioneer Indoor | Forgot Password</title>
<link type="text/css" rel="stylesheet" href="/assets/css/admin-master.css?v={{assetsVersion}}"/>
{{/section}}

<div class="auth-container">
    <img class="login-logo" src="/assets/image/logo-black.svg">

    <h2>Forgot Password</h2>

    {{#if errorMessage}}
        <div class="error-message">
            <span>{{errorMessage}}</span>
        </div>
    {{/if}}

    <form action="/forgotPassword" method="post" data-parsley-validate>
        <div class="input-row">
            <label for="email">Email</label>
            <input type="text" id="email" class="credentials email" name="email" placeholder="Email" autofocus required data-parsley-type="email" value="{{email}}"/>
        </div>
        <div class="input-row button-row">
            <button type="submit" class="credentials button">Submit</button>
        </div>
    </form>
</div>