{{#section 'head'}}
  <link type="text/css" rel="stylesheet" href="/assets/css/master.css?v={{assetsVersion}}"/>
{{/section}}

<script>
  $(function() {
    $('#imageSlider').flexslider({
      animation: "fade",
      slideshowSpeed: 6000,
      animationSpeed: 900,
      keyboard: false,
      controlNav: false,
      pauseOnHover: true
    });
  });
</script>
<div class="site-container">
  {{> nav}}

  <div id="imageSlider" class="slider flexslider">
    <ul class="slides">
      <li>
        <img src="/assets/image/slider1.jpg"/>
      </li>
      <li>
        <img src="/assets/image/slider2.jpg"/>
      </li>
      <li>
        <img src="/assets/image/slider3.jpg"/>
      </li>
      <li>
        <img src="/assets/image/slider4.jpg"/>
      </li>
      <li>
        <img src="/assets/image/slider5.jpg"/>
      </li>
      <li>
        <img src="/assets/image/slider6.jpg"/>
      </li>
    </ul>
  </div>
  <section class="main-content">
    <div class="tile blog-post">
      <div class="blog-meta">
          <span>Kelly Dittrich | 19 Aug 2015</span>
      </div>
      <h2>Welcome to Our New Website</h2>
      <p>It took four finals appearances and two silver medals, but Pioneer Indoor finally has a new website. Portions of our site currently remain under construction, and new features will be coming throughout the next few months. As construction is completed, you'll be able to come to our new site for information about the ensemble, news on our upcoming season, schedules and audition details.</p>
    </div>
  </section>

  <section class="right-rail">
    {{> facebookFeed}}
  </section>

</div>