{{#section 'head'}}
  <meta property="og:title" content="Pioneer Indoor | Home"/>
  <title>Pioneer Indoor | Home</title>
  <link type="text/css" rel="stylesheet" href="/assets/css/master.css?v={{assetsVersion}}"/>
{{/section}}

<script>
  $(function() {
    $('#imageSlider').flexslider({
      animation: "fade",
      slideshowSpeed: 6000,
      animationSpeed: 900,
      keyboard: false,
      controlNav: false,
      pauseOnHover: true,
      touch: false
    });
  });
</script>
<div class="site-container">
  {{> nav}}

  <div id="imageSlider" class="slider flexslider">
    <ul class="slides">
      <li>
        <img src="/assets/image/slider1.jpg"/>
      </li>
      <li>
        <img src="/assets/image/slider2.jpg"/>
      </li>
      <li>
        <img src="/assets/image/slider3.jpg"/>
      </li>
      <li>
        <img src="/assets/image/slider4.jpg"/>
      </li>
      <li>
        <img src="/assets/image/slider5.jpg"/>
      </li>
      <li>
        <img src="/assets/image/slider6.jpg"/>
      </li>
    </ul>
  </div>
  <section class="main-content">
    <div class="tile blog-post">
      <div class="blog-image"><img src="/assets/image/ifWallsCouldTalk.jpg"/></div>
      <div class="blog-content">
        <div class="blog-meta">
          <span>Andy Hull | 9 Feb 2016</span>
        </div>
        <h2>2016 Show Announcement</h2>
        <p>With our first performances just around the corner, we are excited to announce our 2016 show, "If Walls Could Talk". Take a look at our <a href="/schedule">schedule</a> for a chance to see us perform at home or on the road.</p>
        <p>See the WGI release at <a href="http://www.wgi.org/news/01282016-Pioneer-Indoor-presents-If-Walls-Could-Talk.html" target="_blank">http://www.wgi.org/news/01282016-Pioneer-Indoor-presents-If-Walls-Could-Talk.html</a></p>
      </div>
    </div>

    <div class="tile blog-post">
      <div class="blog-image"><img src="/assets/image/anniversary.png"/></div>
      <div class="blog-content">
        <div class="blog-meta">
            <span>Kelly Dittrich | 11 Sept 2015</span>
        </div>
        <h2>A Decade of Achievement</h2>
        <p>Pioneer Indoor was founded in 2006 on two key tenets: to educate young musicians, and to strengthen our local and regional percussion community. As we enter our 10th anniversary season, we remain committed to our ideals and focused on our goals, but also proud of our past.</p>
        <p>In the organization’s 10 years of existence, “Pio Indoor” has brought four WGI championship medals, six finalist medals, and several regional championship trophies home to Chicagoland. Most importantly, the organization has educated over 350 young musicians from across the Midwest. Many of our Alumni have gone on to develop or work with programs in their area, which has built a wide network of influence across our region. The community in the Chicagoland area, and throughout the Great Lakes region, is stronger than ever, and we are proud to say that we are a part of it.</p>
        <p>Thank you to all of the members, parents, educational staff, and support staff who have been with us for these past 10 years. We are forever connected through this activity, and we are forever grateful for the trust, belief, willingness, sacrifice, blood, sweat, tears, and everything else that you’ve lent to our success today and every day going forward. In an activity where survival is a success and prospering is a miracle, you have helped us do the nearly impossible.</p>
        <p>HAPPY 10th ANNIVERSARY PIONEER INDOOR!</p>
      </div>
    </div>

    <div class="tile blog-post">
      <div class="blog-content">
        <div class="blog-meta">
            <span>Kelly Dittrich | 19 Aug 2015</span>
        </div>
        <h2>Welcome to Our New Website</h2>
        <p>It took four finals appearances and two silver medals, but Pioneer Indoor finally has a new website. Portions of our site currently remain under construction, and new features will be coming throughout the next few months. As construction is completed, you'll be able to come to our new site for information about the ensemble, news on our upcoming season, schedules and audition details.</p>
        </div>
      </div>
  </section>

  <section class="right-rail">
    {{> facebookFeed}}
  </section>

  {{> footer}}
</div>