{{#section 'head'}}
<link type="text/css" rel="stylesheet" href="/assets/css/admin-master.css"/>
{{/section}}

<div class="register-content">
    <h1>Register</h1>

    {{#if registerMessage}}
        <div>{{registerMessage}}</div>
    {{else}}
        <form action="/register" method="post" data-parsley-validate>
            <input type="hidden" name="userId" value="{{userId}}"/>
            <div class="input-row">
                <label for="firstName">First Name</label>
                <input id="firstName" name="firstName" value="{{firstName}}" required />
            </div>
            <div class="input-row">
                <label for="lastName">Last Name</label>
                <input id="lastName" name="lastName" value="{{lastName}}" required />
            </div>
            <div class="input-row">
                <label for="email">Email</label>
                <input id="email" name="email" value="{{email}}" required data-parsley-type="email" />
            </div>
            <div class="input-row"> 
                <label for="password">Password</label>
                <input id="password" type="password" name="password1" placeholder="password" required data-parsley-minlength="8" data-parsley-minlength-message="Password must be at least 8 characters" />
            </div>
            <div class="input-row">  
                <label for="password2">Re-enter password</label>  
                <input id="password2" type="password" name="password2" placeholder="Re-enter password" required data-parsley-minlength="8" data-parsley-minlength-message="Password must be at least 8 characters" data-parsley-equalto="#password" data-parsley-equalto-message="Passwords should match" />
            </div>
            <div class="input-row button-row">
                <button class="button" type="submit">Register</button>
            </div>
        </form>
    {{/if}}
</div>
