{{#section 'head'}}
<meta property="og:title" content="Pioneer Indoor | Forgot Password"/>
<title>Pioneer Indoor | Forgot Password</title>
<link type="text/css" rel="stylesheet" href="/assets/css/admin-master.css?v={{assetsVersion}}"/>
{{/section}}

<div class="auth-container">
    <img class="login-logo" src="/assets/image/logo-black.svg">

    <h2>Reset Password</h2>

    {{#if errorMessage}}
        <div class="error-message">
            <span>{{errorMessage}}</span>
        </div>
    {{else}}
        <form action="/resetPassword" method="post" data-parsley-validate>
            <input type="hidden" name="userId" value="{{userId}}"/>
            <div class="input-row">
                <label for="password">Password</label>
                <input id="password" type="password" name="password1" placeholder="password" required autofocus data-parsley-minlength="8" data-parsley-minlength-message="Password must be at least 8 characters" />
            </div>

            <div class="input-row">
                <label for="password2">Re-enter password</label>
                <input id="password2" type="password" name="password2" placeholder="Re-enter password" required data-parsley-minlength="8" data-parsley-minlength-message="Password must be at least 8 characters" data-parsley-equalto="#password" data-parsley-equalto-message="Passwords should match" />
            </div>

            <div class="input-row button-row">
                <button type="submit" class="credentials button">Submit</button>
            </div>
        </form>
    {{/if}}
</div>