{{#section 'head'}}
    <meta property="og:title" content="Pioneer Indoor | Schedule"/>
    <title>Pioneer Indoor | Schedule</title>
    <link type="text/css" rel="stylesheet" href="/assets/css/master.css?v={{assetsVersion}}"/>
{{/section}}

{{> nav}}

<div class="site-body site-center">

    <div class="tile schedule">
        <h2>2016 - 2017 Pioneer Indoor rehearsal and performance schedule</h2>
        <section class="two-column">
            <h3>November 2016</h3>
            <span class="item">5th, Saturday – Audition Day #1 – 8:30am-6pm</span>
            <span class="item">12th, Saturday – Audition Day #2 – 9am-6pm</span>
            <span class="item">19th, Saturday – Rehearsal – 9am-10pm</span>
            <h3>December 2016</h3>
            <span class="item">2nd, Friday – Sectionals – 7pm-10pm</span>
            <span class="item">3rd, Saturday – Rehearsal – 9am-10pm</span>
            <span class="item">9th, Friday – Sectionals – 7pm-10pm</span>
            <span class="item">10th, Saturday – Rehearsal – 9am-10pm</span>
            <span class="item">16th, Friday – Sectionals – 7pm-10pm</span>
            <span class="item">17th, Saturday – Rehearsal – 9am-10pm</span>
            <h3>January 2017</h3>
            <span class="item">6th, Friday – Sectionals – 7pm-10pm</span>
            <span class="item">7th, Saturday – Rehearsal – 9am-10pm</span>
            <span class="item">13th, Friday – Sectionals – 7pm-10pm</span>
            <span class="item">14th, Saturday – Rehearsal – 9am-10pm</span>
            <span class="item">20th, Friday – Sectionals – 7pm-10pm</span>
            <span class="item">21st, Saturday – Rehearsal – 9am-10pm</span>
            <span class="item">27th, Friday – Sectionals – 7pm-10pm</span>
            <span class="item">28th, Saturday – Rehearsal – 9am-10pm</span>
        </section>
        <section class="two-column">
            <h3>February 2017</h3>
            <span class="item">3rd, Friday – Sectionals – 7pm-10pm</span>
            <span class="item">4th, Saturday – Rehearsal – 9am-10pm</span>
            <span class="item">10th, Friday – Sectionals – 7pm-10pm</span>
            <span class="item">11th, Saturday – Rehearsal – 9am-10pm</span>
            <span class="item bold"><i class="fa fa-star"></i>12th, Sunday – Rehearsal & Preview Show</span>
            <span class="item">17th, Friday – Sectionals – 7pm-10pm</span>
            <span class="item">18th, Saturday – Rehearsal – 9am-10pm</span>
            <span class="item">24th, Friday – Sectionals – 7pm-10pm</span>
            <span class="item">25th, Saturday – Rehearsal – 9am-10pm</span>
            <h3>March 2017</h3>
            <span class="item">3rd, Friday – Sectionals – 7pm-10pm</span>
            <span class="item">4th, Saturday – Rehearsal – 9am-10pm</span>
            <span class="item bold"><i class="fa fa-star"></i>10th-12th, Friday-Sunday – Indianapolis Regional</span>
            <span class="item">17th, Friday – Sectionals – 7pm-10pm</span>
            <span class="item">18th, Saturday – Rehearsal – 9am-10pm</span>
            <span class="item bold"><i class="fa fa-star"></i>24th-26th, Friday-Sunday – Mid-East Power Regional (Highland Heights, KY)</span>
            <span class="item">31st, Friday – Sectionals – 7pm-10pm</span>
            <h3>April 2017</h3>
            <span class="item">1st, Saturday – Rehearsal – 9am-10pm</span>
            <span class="item">7th, Friday – Sectionals – 7pm-10pm</span>
            <span class="item">8th, Saturday – Rehearsal – 9am-10pm</span>
            <span class="item">14th, Friday – Sectionals – 7pm-10pm</span>
            <span class="item">15th, Saturday – Rehearsal – 9am-10pm</span>
            <span class="item bold"><i class="fa fa-star"></i>18th–23rd, Tuesday-Sunday – WGI Finals (Dayton, OH)</span>
        </section>
    </div>
</div>

{{> footer}}