{{#section 'head'}}
    <meta property="og:title" content="Pioneer Indoor | Schedule"/>
    <title>Pioneer Indoor | Schedule</title>
    <link type="text/css" rel="stylesheet" href="/assets/css/master.css?v={{assetsVersion}}"/>
{{/section}}

{{> nav}}

<div class="site-body site-center">

    <div class="tile schedule">
        <h2>{{getYear auditionDate 0}} - {{getYear auditionDate 1}} Pioneer Indoor rehearsal and performance schedule</h2>
        <section class="two-column">
            <h3>November {{getYear auditionDate 0}}</h3>
            <span class="item">4th, Saturday – Audition Day #1 – 8:30am-6pm</span>
            <span class="item">11th, Saturday – Audition Day #2 – 9am-6pm</span>
            <span class="item">18th, Saturday – Rehearsal – 9am-10pm</span>
            <h3>December {{getYear auditionDate 0}}</h3>
            <span class="item">1st, Friday – Sectionals – 7pm-10pm</span>
            <span class="item">2nd, Saturday – Rehearsal – 9am-10pm</span>
            <span class="item">8th, Friday – Sectionals – 7pm-10pm</span>
            <span class="item">9th, Saturday – Rehearsal – 9am-10pm</span>
            <span class="item">15th, Friday – Sectionals – 7pm-10pm</span>
            <span class="item">16th, Saturday – Rehearsal – 9am-10pm</span>
            <span class="item">22nd, Friday – Sectionals – 7pm-10pm</span>
            <span class="item">23rd, Saturday – Rehearsal – 9am-10pm</span>
            <h3>January {{getYear auditionDate 1}}</h3>
            <span class="item">5th, Friday – Sectionals – 7pm-10pm</span>
            <span class="item">6th, Saturday – Rehearsal – 9am-10pm</span>
            <span class="item">12th, Friday – Sectionals – 7pm-10pm</span>
            <span class="item">13th, Saturday – Rehearsal – 9am-10pm</span>
            <span class="item">19th, Friday – Sectionals – 7pm-10pm</span>
            <span class="item">20st, Saturday – Rehearsal – 9am-10pm</span>
            <span class="item">26th, Friday – Sectionals – 7pm-10pm</span>
            <span class="item">27th, Saturday – Rehearsal – 9am-10pm</span>
        </section>
        <section class="two-column">
            <h3>February {{getYear auditionDate 1}}</h3>
            <span class="item">2nd, Friday – Sectionals – 7pm-10pm</span>
            <span class="item">3rd, Saturday – Rehearsal – 9am-10pm</span>
            <span class="item">9th, Friday – Sectionals – 7pm-10pm</span>
            <span class="item">10th, Saturday – Rehearsal – 9am-10pm</span>
            <span class="item bold"><i class="fa fa-star"></i>16th-18th, Friday-Sunday – St. Louis Regional</span>
            <span class="item">23th, Friday – Sectionals – 7pm-10pm</span>
            <span class="item">24th, Saturday – Rehearsal – 9am-10pm</span>
            <h3>March {{getYear auditionDate 1}}</h3>
            <span class="item">2nd, Friday – Sectionals – 7pm-10pm</span>
            <span class="item">3rd, Saturday – Rehearsal – 9am-10pm</span>
            <span class="item bold"><i class="fa fa-star"></i>4th, Sunday – Rehearsal & Preview Show</span>
            <span class="item bold"><i class="fa fa-star"></i>9th-11th, Friday-Sunday – Indianapolis Regional</span>
            <span class="item">16th, Friday – Sectionals – 7pm-10pm</span>
            <span class="item">17th, Saturday – Rehearsal – 9am-10pm</span>
            <span class="item">23rd, Friday – Sectionals – 7pm-10pm</span>
            <span class="item">24th, Saturday – Rehearsal – 9am-10pm</span>
            <span class="item">30th, Friday – Sectionals – 7pm-10pm</span>
            <span class="item">31st, Saturday – Rehearsal – 9am-10pm</span>
            <h3>April {{getYear auditionDate 1}}</h3>
            <span class="item">6th, Friday – Sectionals – 7pm-10pm</span>
            <span class="item">7th, Saturday – Rehearsal – 9am-10pm</span>
            <span class="item">13th, Friday – Sectionals – 7pm-10pm</span>
            <span class="item">14th, Saturday – Rehearsal – 9am-10pm</span>
            <span class="item bold"><i class="fa fa-star"></i>15th, Sunday – Rehearsal & Open House</span>
            <span class="item bold"><i class="fa fa-star"></i>17th–22nd, Tuesday-Sunday – WGI Finals (Dayton, OH)</span>
        </section>
    </div>
</div>

{{> footer}}