{{#section 'head'}}
    <meta property="og:title" content="Pioneer Indoor | Schedule"/>
    <title>Pioneer Indoor | Schedule</title>
    <link type="text/css" rel="stylesheet" href="/assets/css/master.css?v={{assetsVersion}}"/>
{{/section}}

{{> nav}}

<div class="site-body site-center">

    <div class="tile schedule">
        <h2>2015 - 2016 Pioneer Indoor rehearsal and performance schedule</h2>
        <section class="two-column">
            <h3>November 2015</h3>
            <span class="item">7th, Saturday – Audition Day #1 – 8:30am-6pm</span>
            <span class="item">14th, Saturday – Audition Day #2 – 9am-6pm</span>
            <span class="item">21st, Saturday – Rehearsal – 9am-10pm</span>
            <span class="item">28th, Saturday – Rehearsal – 9am-10pm</span>
            <h3>December 2015</h3>
            <span class="item">4th, Friday – Sectionals – 7pm-10pm</span>
            <span class="item">5th, Saturday – Rehearsal – 9am-10pm</span>
            <span class="item">11th, Friday – Sectionals – 7pm-10pm</span>
            <span class="item">12th, Saturday – Rehearsal – 9am-10pm</span>
            <span class="item">18th, Friday – Sectionals – 7pm-10pm</span>
            <span class="item">19th, Saturday – Rehearsal – 9am-10pm</span>
            <h3>January 2016</h3>
            <span class="item">2nd, Saturday – Rehearsal – 9am-10pm</span>
            <span class="item">8th, Friday – Sectionals – 7pm-10pm</span>
            <span class="item">9th, Saturday – Rehearsal – 9am-10pm</span>
            <span class="item">15th, Friday – Sectionals – 7pm-10pm</span>
            <span class="item">16th, Saturday – Rehearsal – 9am-10pm</span>
            <span class="item">22nd, Friday – Sectionals – 7pm-10pm</span>
            <span class="item">23rd, Saturday – Rehearsal – 9am-10pm</span>
            <span class="item">29th, Friday – Sectionals – 7pm-10pm</span>
            <span class="item">30th, Saturday – Rehearsal – 9am-10pm</span>
        </section>
        <section class="two-column">
            <h3>February 2016</h3>
            <span class="item">5th, Friday – Sectionals – 7pm-10pm</span>
            <span class="item">6th, Saturday – Rehearsal – 9am-10pm</span>
            <span class="item">12th, Friday – Sectionals – 7pm-10pm</span>
            <span class="item">13th, Saturday – Rehearsal – 9am-10pm</span>
            <span class="item">19th, Friday – Sectionals – 7pm-10pm</span>
            <span class="item">20th, Saturday – Rehearsal – 9am-10pm</span>
            <span class="item bold"><i class="fa fa-star"></i>21st, Sunday – Rehearsal & Preview Show</span>
            <span class="item bold"><i class="fa fa-star"></i>26th-28th, Friday-Sunday – Minneapolis Regional</span>
            <h3>March 2016</h3>
            <span class="item">4th, Friday – Sectionals – 7pm-10pm</span>
            <span class="item">5th, Saturday – Rehearsal – 9am-10pm</span>
            <span class="item bold"><i class="fa fa-star"></i>11th-13th, Friday-Sunday – Kentucky Mid-South Regional</span>
            <span class="item">18th, Friday – Sectionals – 7pm-10pm</span>
            <span class="item">19th, Saturday – Rehearsal – 9am-10pm</span>
            <span class="item">25th, Friday – Sectionals – 7pm-10pm</span>
            <span class="item">26th, Saturday – Rehearsal – 9am-10pm</span>
            <h3>April 2016</h3>
            <span class="item">1st, Friday – Sectionals – 7pm-10pm</span>
            <span class="item">2nd, Saturday – Rehearsal – 9am-10pm</span>
            <span class="item">8th, Friday – Sectionals – 7pm-10pm</span>
            <span class="item">9th, Saturday – Rehearsal – 9am-10pm</span>
            <span class="item bold"><i class="fa fa-star"></i>10th, Sunday – Open House</span>
            <span class="item bold"><i class="fa fa-star"></i>12th–17th, Tuesday-Sunday – WGI Finals – Dayton, OH</span>
        </section>
    </div>
</div>

{{> footer}}